# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
**/node_modules
.pnp
.pnp.js
.turbo

# testing
/coverage

# production
apps/**/build
apps/**/dist
**.tsbuildinfo

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.dev

# dodano
.env.prod
**/.env
**/.env.dev
**/.env.prod
.yarn/cache
.yarn/install-state.gz
# ?
.yarn/install-state.gz

.github/workflows
**/.github/workflows
.github/**


npm-debug.log*
yarn-debug.log*
yarn-error.log*
